<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.task{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  max-width: 40%;
}
</style>
<label for="poms">How many poms today?</label>
<input type="number" name="poms" id="poms" min="1" max="20"><br>
{% if projects %}
<label for="project">What is the focus on right now?</label>
<select name="project" id="project">
  ONCHANGE="project = this.options[this.selectedIndex].value;"
  <option value="all">All</option>
  {% for project in projects %}
    <option value="{{ project.name }}">{{ project.name }}</option>
  {% endfor %}
</select>
{% endif %}
<h1>Selected project: {{project}}</h1>
<div class="row">
  <div class="column">
    <h1>Tasks for today</h1>
    {% if task_list %}
      <!-- <ul> -->
        {% for task in task_list %}
          <!-- <li> -->
            <div class=task draggable="false">{{ task.content |safe }}</div>
          <!-- </li> -->
        {% endfor %}
      <!-- </ul> -->
    {% else %}
        <p>Done for the day.</p>
    {% endif %}
  </div>
  <div class="column">
    <h1>Delayed Tasks</h1>
    {% if delayed_tasks %}
      <!-- <ul> -->
        {% for task in delayed_tasks %}
          <!-- <li> -->
            <div class=task draggable="false">{{ task.content |safe }}</div>
          <!-- </li> -->
        {% endfor %}
      <!-- </ul> -->
    {% else %}
      <p>No Delayed Tasks</p>
    {% endif %}
  </div>
</div>

